/*fondo del login*/
body {
    background-color: white;
    background-size: cover;
    image-rendering: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
      margin-top: auto;
      padding: 10px;
  }
  
  section{
    flex-direction: row;
  
  }
  /*parte del formi*/
  form {
    max-width: 500px;
    margin: 0 auto;

    grid-column: 3%;
    grid-row: 3%;
  }
  
  h1 {
    font-weight: 100;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(249, 250, 252);
  }
  
  .form {
    background:#F1F4FB ;
    max-width: 400px;
    margin: 0 auto;
  }
  /*MENSAJE DE EMERGENCIA*/
  p {
    color: #0080FF;
  }
  
  p::before {
    display: inline;
    content: "⚠ ";
  }
  
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #EDEDED;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
   background-color: #EDEDED;
  }
  /*label de Nombre,correo,contraseña,apellidos */
  label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 40px;
    color: BLACK;
    font-size: 14px;
    font-weight: bold;
  }
  
  h2{
    font-size: 250%;
  
  }
  
  /*boton enviar*/
  button[type="submit"],
  input[type="submit"] {
    background: #0080FF;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 60px;
    border-radius: 10px;
    
    margin-right: auto;
    left: -70px;
    padding: 15px;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 10px;
  }
  
  /*
  button[type="submit"]:hover,
  input[type="submit"]:hover {
    background: #bf1650;
  }
  */
  button[type="submit"]:active,
  input[type="button"]:active,
  input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
    grid-column: 3%;
    grid-row: 3%;
   
  }
  
  input:disabled {
    opacity: 0.4;
  }
  
  input[type="button"]:hover {
    transition: 0.3s all;
  }
  
  button[type="submit"],
  input[type="button"],
  input[type="submit"] {
    -webkit-appearance: none;
  
  }
  
  .App {
    max-width: 600px;
    margin: 0 auto;
  }
  
  button[type="button"] {
    display: block;
    appearance: none;
    background: #EDEDED;
    color: #EDEDED;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
    border-right: 20%;
    grid-column: 3%;
    grid-row: 3%;
  }
  
  hr {
    margin-top: 30px;
  }
  
  button {
    display: block;
    appearance: none;
    margin-top: 10px;
    border: 1px solid white;
    margin-bottom: 15px;
    
    padding: 10px 20px;
    background-position: bottom center;
    flex-direction: row;
    margin-right: auto;
  }
  